.git
.gitignore
**/.env
**/.venv
**/venv
**/__pycache__
**/.pytest_cache
**/node_modules
frontend-vue/dist
QoR_Recorder/data
QoR_Recorder/uploads
QoR_Recorder/backups
QoR_Recorder/mongodbdir/*
!QoR_Recorder/mongodbdir/README.md
**/*.db
**/*.db-shm
**/*.db-wal
**/*.log
